NODE_ENV = development
PORT = 8000
MONGO_URI = mongodb+srv://abderrazzaqmars:Rfi2mvUWm9uGHiEz@cluster99.xuw6gca.mongodb.net/?appName=Cluster99
EMAIL_USER = abderrazzaqmars99@gmail.com
EMAIL_PASS = Rfi2mvUWm9uGHiEz
JWT_SECRET = a8f5f167f44f4964e6c998dee827110c8f5f167f44f4964e6c998dee827110